<div class="forgot">
  <h1>
    <span class="main-slogan">
      Logger Forgot password.
    </span>
  </h1>
  <form class="form" [formGroup]="rForm" >
    <div class="form-logo">
      <img src="assets/images/logger-main.svg" alt="main logo">
    </div>
    <div class="form-group">
      <div class="col-1-of-2">
        <div class="controls">
          <label for="">email</label> <br />
          <input type="text" class="input-field" formControlName="Email" />
          <div class="alert" *ngIf="!rForm.controls['Email'].valid">
              please provide email, in order to reset your password.
          </div>
        </div>
        <div class="controls">
          <input type="submit" value="submit" class="button" [disabled]="!rForm.valid" />
          <div class="back-home">
            <h1>
              <span class="sub-header">
                <a routerLink="/">
                    Back to login
                </a>
              </span>
            </h1>
          </div>
        </div>
      </div>
    </div>

  </form>

</div>
