.login {

    h1 {
        text-align: center;
        margin-top: 5rem;     
    }

    .forgot-password{
        h1{
            margin-top: 0;           
            .sub-header {
                font-size: 1rem;
                font-weight: 400;
            }
        }
    }

    .col-1-of-1 {
        grid-gap: 0;
        padding-bottom: 0;
    }
}